In [ ]:
import pandas as pd 
import numpy as np

In [ ]:
delivery = pd.read_csv('/content/delivery_orders_march.csv')
delivery.head()

      orderid  ...                                      selleraddress
0  2215676524  ...  Pantranco vill. 417 Warehouse# katipunan 532 (...
1  2219624609  ...  BLDG 210A Moras C42B 2B16,168 church) Complex ...
2  2220979489  ...  #66 150-C, DRIVE, Milagros Joe socorro Metro M...
3  2221066352  ...  999maII 201,26 Villaruel Barretto gen.t number...
4  2222478803  ...  G66MANILA Hiyas Fitness MAYSILO magdiwang Lt.4...

[5 rows x 6 columns]

In [ ]:
#changing the event_time data type into datetime
import time
#time.strftime('%Y-%m-%d %H:%M:%S', time.localtime(1347517370))
delivery['1st_deliver_attempt'] = delivery['1st_deliver_attempt'].apply(lambda x:time.strftime('%Y-%m-%d', time.localtime(x)))

In [ ]:
import math
x = []
for i in delivery['2nd_deliver_attempt']: 
  if math.isnan(i) == True :  
    x.append(None)
  else : 
    x.append(time.strftime('%Y-%m-%d', time.localtime(i)))

delivery['2nd_deliver_attempt'] = x

In [ ]:
from datetime import date, timedelta, datetime

def all_sundays(year):
# January 1st of the given year
       dt = date(year, 1, 1)
# First Sunday of the given year       
       dt += timedelta(days = 6 - dt.weekday())  
       while dt.year == year:
          yield dt
          dt += timedelta(days = 7)
          
list_holiday = [s for s in all_sundays(2020)]   
add_holiday = ['2020-03-25','2020-03-30','2020-03-31']
add_holiday2 = [datetime.strptime(i, "%Y-%m-%d") for i in add_holiday]

#add_holiday = add_holiday.apply(lambda x:datetime.strptime(x, "%Y-%m-%d"))
# 2020-03-08 (Sunday);
# 2020-03-25 (Wednesday);
# 2020-03-30 (Monday);
# 2020-03-31 (Tuesday)

list_holiday = list_holiday + add_holiday2

In [ ]:
buyer_city = []
for i in delivery['buyeraddress'] : 
  if 'metro manila' in i.lower() : 
    buyer_city.append('metro manila')
  elif 'luzon' in i.lower() : 
    buyer_city.append('luzon')
  elif 'visayas' in i.lower() : 
    buyer_city.append('visayas') 
  elif 'mindanao' in i.lower() : 
    buyer_city.append('mindanao')
  else : 
    buyer_city.append(None)

In [ ]:
seller_city = []
for i in delivery['selleraddress'] : 
  if 'metro manila' in i.lower() : 
    seller_city.append('metro manila')
  elif 'luzon' in i.lower() : 
    seller_city.append('luzon')
  elif 'visayas' in i.lower() : 
    seller_city.append('visayas') 
  elif 'mindanao' in i.lower() : 
    seller_city.append('mindanao')
  else : 
    seller_city.append(None)

In [ ]:
delivery['buyer_city'] = buyer_city
delivery['seller_city'] = seller_city

In [ ]:
#delivery[delivery['seller_city'] == None]
#delivery.head()

In [ ]:
delivery['pick'] = delivery['pick'].apply(lambda x:time.strftime('%Y-%m-%d', time.localtime(x)))

In [ ]:
delivery.head()

      orderid        pick  ...    buyer_city   seller_city
0  2215676524  2020-03-02  ...  metro manila  metro manila
1  2219624609  2020-03-04  ...  metro manila  metro manila
2  2220979489  2020-03-04  ...  metro manila  metro manila
3  2221066352  2020-03-05  ...  metro manila  metro manila
4  2222478803  2020-03-04  ...         luzon  metro manila

[5 rows x 8 columns]

In [ ]:
# #changing the event_time data type into datetime
# from datetime import datetime
# delivery['pick'] = delivery['pick'].apply(lambda x:datetime.strptime(x, "%Y-%m-%d"))
# delivery['1st_deliver_attempt'] = delivery['1st_deliver_attempt'].apply(lambda x:datetime.strptime(x, "%Y-%m-%d"))
# #delivery['2nd_deliver_attempt'] = delivery['2nd_deliver_attempt'].apply(lambda x:datetime.strptime(x, "%Y-%m-%d"))

In [ ]:
# #change into datetime
# x = []
# for i in delivery['2nd_deliver_attempt']: 
#   if i == None :  
#     x.append('')
#   else : 
#     x.append(datetime.strptime(i, "%Y-%m-%d"))

# delivery['2nd_deliver_attempt'] = x

In [ ]:
sla_days = []
for i,r in delivery.iterrows():
  #seller = manila
  if r['seller_city'] == 'metro manila' and r['buyer_city']== 'metro manila':
    sla_days.append(3)
  elif r['seller_city'] == 'metro manila' and r['buyer_city']== 'luzon':
    sla_days.append(5)
  elif r['seller_city'] == 'metro manila' and r['buyer_city']== 'visayas':
    sla_days.append(7)
  elif r['seller_city'] == 'metro manila' and r['buyer_city']== 'mindanao':
    sla_days.append(7)
  # seller = luzon
  elif r['seller_city'] == 'luzon' and r['buyer_city']== 'metro manila':
    sla_days.append(5)
  elif r['seller_city'] == 'luzon' and r['buyer_city']== 'luzon':
    sla_days.append(5)
  elif r['seller_city'] == 'luzon' and r['buyer_city']== 'visayas':
    sla_days.append(7)
  elif r['seller_city'] == 'luzon' and r['buyer_city']== 'mindanao':
    sla_days.append(7)
  # seller = visayas
  elif r['seller_city'] == 'visayas':
    sla_days.append(7)
  # seller = mindanao
  elif r['seller_city'] == 'mindanao':
    sla_days.append(7)
  else : 
    sla_days.append(None)
delivery['sla_days'] = sla_days

In [ ]:
delivery.head()

      orderid        pick  ...   seller_city sla_days
0  2215676524  2020-03-02  ...  metro manila      3.0
1  2219624609  2020-03-04  ...  metro manila      3.0
2  2220979489  2020-03-04  ...  metro manila      3.0
3  2221066352  2020-03-05  ...  metro manila      3.0
4  2222478803  2020-03-04  ...  metro manila      5.0

[5 rows x 9 columns]

In [ ]:
# m = []
# for i in range(len(delivery)) : 
#   delta_day = (delivery['1st_deliver_attempt'][i] - delivery['pick'][i]).days

In [ ]:
add_holiday = ['2020-03-25','2020-03-30','2020-03-31']

In [ ]:
#np.busday_count('2020-03-02','2020-03-05'	, weekmask = '1111110')
np.busday_count(delivery['pick'][0], delivery['1st_deliver_attempt'][0], weekmask = '1111110', holidays = add_holiday)

3

In [ ]:
is_late = []
for i in range(len(delivery)) : 
  if np.busday_count(delivery['pick'][i], delivery['1st_deliver_attempt'][i], weekmask = '1111110', holidays = add_holiday) > delivery['sla_days'][i] : 
    is_late.append(1)
  elif np.busday_count(delivery['pick'][i], delivery['1st_deliver_attempt'][i], weekmask = '1111110', holidays = add_holiday) < delivery['sla_days'][i] :
    if delivery['2nd_deliver_attempt'][i] == None : 
      is_late.append(0)
    elif np.busday_count(delivery['1st_deliver_attempt'][i], delivery['2nd_deliver_attempt'][i], weekmask = '1111110', holidays = add_holiday) > 3 : 
      is_late.append(1)
    else : 
      is_late.append(0)
  else : 
    is_late.append(0)

In [ ]:
delivery['is_late'] = is_late

In [ ]:
delivery = delivery[['orderid','is_late']]

In [ ]:
delivery.to_csv(r'/delivery_sixthfloor.csv')